# Maven build
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iml
.project
.classpath
.settings/
.factorypath

# Spring Boot local configs
application-local.yml
application-local.properties

# JARs (build output)
*.jar
!.mvn/wrapper/*.jar

# Logs
*.log
logs/
